<% provide(:title, "Админка") %>

<h2>Админка</h2>

<div class="container">
  <div class="jumbotron">
    <h4>Импорт CSV</h4>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= bootstrap_form_tag url: import_lectors_path, multipart: true do |f| %>
          <%= f.file_field :lector_import_file %>
          <%= f.submit "Загрузить", class: "btn btn-sm btn-info" %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= bootstrap_form_tag url: import_seminar_programs_path do |f| %>
          <%= f.file_field :seminar_program_import_file %>
          <%= f.submit "Загрузить", class: "btn btn-sm btn-info" %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= bootstrap_form_tag url: import_seminars_path do |f| %>
          <%= f.file_field :seminar_import_file %>
          <%= f.submit "Загрузить", class: "btn btn-sm btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <h4><%= link_to "Лекторы", :controller => :lectors, :action => :index %> (<%= @lectors %>)</h4>
    <h4><%= link_to "Типы семинаров", :controller => :seminar_types, :action => :index %> (<%= @types %>)</h4>
    <h4><%= link_to "Разделы семинаров", :controller => :seminar_sections, :action => :index %> (<%= @sections %>)</h4>
    <h4><%= link_to "Семинары", :controller => :seminars, :action => :index %> (<%= @seminars %>)</h4>
    <h4><%= link_to "Программы семинаров", :controller => :seminar_programs, :action => :index %> (<%= @programs %>)</h4>    
  </div>
  <div class="row">
    <h4>Imports</h4>
    <ul>
    <% @imports.each do |row| %>
      <li><%= row.date %>&nbsp;<%= row.file %></li>
    <% end %>
    </ul>
  </div>
</div>
