<h1>Listing seminar_types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seminar_types.each do |seminar_type| %>
      <tr>
        <td><%= seminar_type.name %></td>
        <td><%= link_to 'Show', seminar_type %></td>
        <td><%= link_to 'Edit', edit_seminar_type_path(seminar_type) %></td>
        <td><%= link_to 'Destroy', seminar_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seminar type', new_seminar_type_path %>
