<%= form_for(@seminar_program) do |f| %>
  <% if @seminar_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seminar_program.errors.count, "error") %> prohibited this seminar_program from being saved:</h2>

      <ul>
      <% @seminar_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ruseminar_id %><br>
    <%= f.number_field :ruseminar_id %>
  </div>
  <div class="field">
    <%= f.label :program %><br>
    <%= f.text_area :program %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
